@use "../abstracts/vars";
@use "../abstracts/mixins";

#booking {
  .heading-wrapper {
    text-align: center;
  }
  .timer {
    color: white;
  }

  .timer-wrapper {
    padding: 1rem;
    color: white;

    text-align: center;
  }

  @include mixins.bp-large {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }

  .steps {
    @include mixins.bp-large {
      grid-column: 1/2;
    }
  }

  .basket {
    padding: 2rem;
    background-color: #e1d9e9;
    margin-block-start: 2rem;
    padding-block: 2rem;
    @include mixins.bp-large {
      position: fixed;
      right: 0;
      height: 100%;
      top: 0;
      z-index: 100;
      width: 25vw;
      margin-block-start: 0;
    }

    p,
    hr {
      color: vars.$background-blue;
    }
  }

  .basket-font,
  .basket-price {
    font-size: 1.1rem;
  }

  .basket-price {
    font-weight: bold;
  }
  .amount-wrapper,
  .basket-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  hr {
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: white;
  }

  .totalprice {
    display: flex;
    justify-content: space-between;
  }

  .type-price-wrapper {
    display: flex;
  }

  .next-step {
    text-align: center;
    margin-block: 4rem;

    @include mixins.bp-large {
      margin-block: 2rem;
    }
  }
  .basket-minus,
  .basket-plus {
    background-color: #2e1c6700;
    border: none;
    margin: 0;
    padding: 0;
  }

  .basket-minus {
    margin-right: 0.5rem;
  }

  .basket-plus {
    margin-left: 0.5rem;
  }

  button:hover {
    cursor: pointer;
  }

  .amount-type-wrapper {
    display: flex;
    gap: 1rem;
  }
}
