@use "../abstracts/vars";
@use "../abstracts/mixins";

#home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  #background {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100vh;
    background-size: cover;
    padding: 10rem 4rem 8rem 4rem;
    @include mixins.bp-medium {
      padding: 12rem 4rem 8rem 4rem;
    }
    text-align: center;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 5px;
    border: 5px solid vars.$neonblue;
    box-shadow: 0px 0px 22px vars.$lightneonblue;
    padding: 6px 8px 6px 8px;
  }
  h2 {
    text-align: center;
  }
}
