@use "../abstracts/vars";
@use "../abstracts/mixins";

#login-section {
  display: grid;
  grid-template-columns: auto minmax(0, 800px) auto;
  place-content: center;
  #login-wrapper {
    grid-column: 2/3;
    display: grid;
    place-content: center;
  }
  #form-login {
    margin: 5rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    gap: 1rem;
    align-items: center;
    @include mixins.bp-medium {
      width: 600px;
      margin-inline: auto;
    }
  }
  .form-part {
    display: flex;
    flex-direction: column;
  }
  label {
    font-family: vars.$paragraphfont;
    color: white;
    margin-bottom: 8px;
  }
  input {
    border: none;
    padding: 8px;
    border-radius: 5px;
  }
}
